@use '../variables';

.card_container{
    width: 90%;

    .card{
        width: 100%;
        display: flex;
        background-color: variables.$color4;
        border-radius: 7px;
        position: relative;

        &:hover{
            .border{
                width: 100%;
            }

            .text{

                color: variables.$blanquito;
            }
        }

        img{
            z-index: 4;
            border-radius: 10px;
            width: 35%;
            object-fit: cover;
        }

        .text{            
            white-space: pre-line;
            transition: all 1s;
            z-index: 4;
            h2{
                text-align: center;
            }
            width: 70%;
            padding: 30px;
                p{
                    font-size: 19px;
                }
        }

        .border{
            transition: all 1s;
            border-radius: 10px;
            width: 1%;
            height: 100%;
            background: linear-gradient(0deg, rgba(33,138,37,1) 9%, rgba(116,222,74,1) 76%);
            position: absolute;
            z-index: 3;
            right: 0;
        }
    }
}

@keyframes desappear{
    0%{
        clip-path: inset(0 0 0 0);
        opacity: 1;
    }

    100%{
        clip-path: inset(0 0 100% 0);
        opacity: 0.4;
    }
}

@keyframes appear{
    0%{
        clip-path: inset(0 0 100% 0);
        opacity: 0;
    }

    100%{
        clip-path: inset(0 0 0 0);
        opacity: 1;
    }
}