@use '../variables';

.card_container{
    width: 90%;
    height: 60vh;

    .card{
        width: 100%;
        height: 100%;
        display: flex;
        background-color: variables.$color4;
        border-radius: 1px;
        position: relative;

        &:hover{
            .border{
                width: 100%;
            }

            .text{

                color: variables.$blanquito;
            }
        }

        img{
            z-index: 4;
            border-radius: 10px;
            width: 35%;
            height: 100%;
            object-fit: cover;
        }

        .text{            
            transition: all 1s;
            z-index: 4;
            h2{
                text-align: center;
            }
            width: 70%;
            padding: 30px;
        }

        .border{
            transition: all 1s;
            border-radius: 10px;
            width: 1%;
            height: 100%;
            background-color: #40c977;
            position: absolute;
            z-index: 3;
            right: 0;
        }
    }
}