@use "../variables";
#info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: variables.$color3;
    h2{
        font-family:'Nanum Gothic', Arial, Helvetica, sans-serif;
        text-align: center;
        text-transform: uppercase;
        font-size: 30px;
        color: variables.$negrito1;
    }
    hr{
        width: 5%;
        height: 3px;
        background-color: variables.$negrito1; 
        border: none;
        border-radius: 50px;
    }
    .containerImages{
        display: flex;
        width: 80%;
        height: 100vh;
        .card{
            box-sizing: border-box;
            width: 50%;
            padding: 15px;
            .slider{
                width: 100%;
                height: 65%;
                position: relative;
                overflow: hidden;
                user-select: none;

                .carrousel{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    transition: all .5s ease-in;
                    position: relative;
                    left: -0%;

                    .img{
                        min-width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 12px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: none;

                        img{
                            width: 87%;
                            height: 87%;
                            border: none;
                            background: none;
                        }
                    }
                }

                svg{
                    position: absolute;
                    top: calc(50% - 20px);
                    z-index: 99999999;
                    width: 20px;
                    cursor: pointer;

                    &#left-arrow{
                        left: 10px;
                    }
                    &#right-arrow{
                        right: 10px;
                    }
                }
            }

            h3{
                margin-top: 40px;
                text-align: center;
            }

            p{
                text-align: center;
            }
        }
    }
    
}

@media only screen and (max-width: 768px){
    #info{
        height: 150vh;
        justify-content: flex-start;

        .fondo-color{
            height: 10%;

            h2{
                margin: 0;
                font-size: 23px;
            }
        }

        .containerImages{
            height: 90%;
            width: 95%;
            flex-direction: column;

            .card{
                width: 100%;
                height: 50%;
                padding: 0;

                h3{
                    margin: 0;
                }

                .slider{
                    .carrousel{
                        .img{
                            img {
                                width: 60%;
                                object-fit: cover;
                            }
                        }
                    }
                }

                p{
                    margin: 0;
                    font-size: 14px;
                }
            }
        }
    }
}

@media only screen and (max-width: 550px){
    #info .containerImages{
        width: 90%;
    }

    #info .containerImages .card .slider{
        height: 50%;
    }

    #info .containerImages .card{
        height: 50%;
    }
    
    #info .containerImages .card .slider svg{
        font-size: 10px;
    }
}