@use "../variables";
body{
    background-color: variables.$blanquito;
}
h1{
    text-align: center;
    color: variables.$color3;
    
}
h2{
    color: variables.$color3;
    margin-left: 20px;
}
p {
    font-size: 20px;
    margin-left: 20px;
}
img{
    border-radius: 20px;
    width: 80%;
    
}