#autoridades_y_servicios{
    width: 100%;
    height: 100vh;
    display: flex;

    .servicios,.autoridades{
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;

        h2{
            width: 100%;
            text-align: center;
        }

        .autoridad{
            width: 35%;
            height: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;

            picture{
                width: 75%;
                height: 60%;
                border-radius: 40%;
                position: relative;
                overflow: hidden;
        
                img{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    object-fit:cover; 
                }
            }

            .picture_text{
                h3,p{
                    margin-bottom: 0;
                }
                p{
                    margin-top: 5px;
                    font-size: 14px;
                    width: 80%;
                }
            }
        }
    }

    .servicios{
        height: 50%;
        picture{
            width: 33%;
            height: 47%;
            border-radius: 50%;
            margin-left: 20px;
            margin-top: 15px;
            position: relative;
            overflow: hidden;
    
            img{
                width: 100%;
                height: 100%;
                position: absolute;
                object-fit:cover; 
            }
        }

        picture{
            width: 35%;
            border-radius: 10px;

            img{
                object-fit: cover;
            }
        }
    }
}