header {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
}
header .div1_header {
  width: 100%;
  height: 30%;
  background-color: #EEEBDD;
  display: flex;
  box-sizing: border-box;
  padding-right: 40px;
  justify-content: flex-end;
  align-items: center;
}
header .div1_header div {
  width: 2%;
  margin-right: 20px;
}
header .div1_header div:nth-last-child(1) {
  margin-right: 0;
}
header .div1_header div svg {
  filter: contrast(0.3);
}
header .div2_header {
  box-sizing: border-box;
  padding: 0px 40px;
  display: flex;
  padding-right: 40px;
  justify-content: space-around;
  color: #EEEBDD;
  width: 100%;
  height: 70%;
  background-color: #68A7AD;
}
header .div2_header ul {
  width: 100%;
  height: 80%;
  padding: 0;
  margin: 0;
  margin-right: 30px;
  list-style: none;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 16px;
  text-transform: uppercase;
}
header .div2_header ul li {
  margin-right: 40px;
}
header .div2_header ul li#tramites {
  user-select: none;
  cursor: pointer;
  display: flex;
  position: relative;
  align-items: center;
}
header .div2_header ul li#tramites p {
  margin: 0;
}
header .div2_header ul li#tramites svg {
  margin-left: 5px;
  width: 12px;
  fill: #EEEBDD;
}
header .div2_header ul li#tramites #submenu_container {
  position: absolute;
  display: flex;
  height: 100px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 5px;
  margin: 0;
  left: -110%;
  bottom: 0px;
  width: 300%;
  z-index: -1;
  background-color: #68A7AD;
}
header .div2_header ul li#tramites #submenu_container li {
  margin: 0;
  width: 100%;
}
header .div2_header ul li#tramites #submenu_container li a {
  width: 100%;
  text-align: center;
}
header .div2_header ul li:nth-last-child(1) {
  margin-right: 0;
}
header .div2_header ul li, header .div2_header ul a {
  text-decoration: none;
  color: #EEEBDD;
}
header .div2_header ul li:hover {
  display: block;
}
header .div2_header ul .submenu, header .div2_header ul a {
  display: block;
  float: left;
}
header .div2_header nav {
  position: relative;
  right: 0;
  width: 83%;
}
header .div2_header img {
  width: 15%;
  height: 190%;
  object-fit: contain;
  position: relative;
  bottom: 53%;
  z-index: 999;
}

@keyframes animation-submenu {
  0% {
    bottom: -110px;
    z-index: 99;
  }
  20% {
    z-index: -1;
  }
  100% {
    bottom: 0;
  }
}
@keyframes view-submenu {
  0% {
    bottom: 0px;
    z-index: -400;
  }
  35% {
    z-index: 1;
  }
  100% {
    bottom: -110px;
    z-index: 99;
  }
}
@media only screen and (max-width: 980px) {
  header .div2_header {
    padding: 10px;
  }
  header .div2_header img {
    width: 100px;
    height: 100%;
    bottom: 0;
  }
  header .div2_header nav ul {
    font-size: 14px;
  }
}
@media only screen and (max-width: 768px) {
  header .div1_header div {
    width: 3.5%;
  }
  header .div2_header {
    box-sizing: border-box;
    flex-direction: column;
  }
  header .div2_header img {
    left: 38%;
    height: 50%;
  }
  header .div2_header nav {
    width: 100%;
  }
  header .div2_header nav ul {
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  header .div2_header nav ul li {
    width: 28%;
    margin: 0;
    margin-top: 10px;
  }
  header .div2_header nav ul li a {
    width: 100%;
  }
}

/*# sourceMappingURL=nav.css.map */
