#autoridades_y_servicios {
  width: 100%;
  height: 100vh;
  display: flex;
}
#autoridades_y_servicios .servicios, #autoridades_y_servicios .autoridades {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}
#autoridades_y_servicios .servicios h2, #autoridades_y_servicios .autoridades h2 {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
#autoridades_y_servicios .servicios .autoridad, #autoridades_y_servicios .autoridades .autoridad {
  width: 35%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#autoridades_y_servicios .servicios .autoridad#cuenta, #autoridades_y_servicios .autoridades .autoridad#cuenta {
  align-items: center;
  margin-top: 10px;
  height: 44%;
  justify-content: space-evenly;
}
#autoridades_y_servicios .servicios .autoridad#cuenta ol, #autoridades_y_servicios .autoridades .autoridad#cuenta ol {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}
#autoridades_y_servicios .servicios .autoridad#cuenta ol li, #autoridades_y_servicios .autoridades .autoridad#cuenta ol li {
  padding: 0;
  margin: 0;
  font-size: 14px;
}
#autoridades_y_servicios .servicios .autoridad#cuenta h3, #autoridades_y_servicios .autoridades .autoridad#cuenta h3 {
  margin: 0;
}
#autoridades_y_servicios .servicios .autoridad#cuenta div, #autoridades_y_servicios .autoridades .autoridad#cuenta div {
  width: 85%;
  margin-top: 20px;
}
#autoridades_y_servicios .servicios .autoridad#cuenta div h3, #autoridades_y_servicios .autoridades .autoridad#cuenta div h3 {
  margin: 0;
}
#autoridades_y_servicios .servicios .autoridad picture, #autoridades_y_servicios .autoridades .autoridad picture {
  width: 75%;
  height: 60%;
  border-radius: 40%;
  position: relative;
  overflow: hidden;
}
#autoridades_y_servicios .servicios .autoridad picture img, #autoridades_y_servicios .autoridades .autoridad picture img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
#autoridades_y_servicios .servicios .autoridad .picture_text h3, #autoridades_y_servicios .servicios .autoridad .picture_text p, #autoridades_y_servicios .autoridades .autoridad .picture_text h3, #autoridades_y_servicios .autoridades .autoridad .picture_text p {
  margin-bottom: 0;
}
#autoridades_y_servicios .servicios .autoridad .picture_text p, #autoridades_y_servicios .autoridades .autoridad .picture_text p {
  margin-top: 5px;
  font-size: 14px;
  width: 80%;
}
#autoridades_y_servicios .servicios picture {
  width: 30%;
  height: 28.5%;
  border-radius: 50%;
  margin-left: 20px;
  margin-top: 15px;
  position: relative;
  overflow: hidden;
}
#autoridades_y_servicios .servicios picture img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
#autoridades_y_servicios .servicios picture {
  width: 37%;
  border-radius: 10px;
}
#autoridades_y_servicios .servicios picture:hover .picture_text {
  opacity: 1;
}
#autoridades_y_servicios .servicios .picture_text {
  width: 100%;
  height: 100%;
  background-color: rgba(212, 212, 212, 0.651);
  position: absolute;
  padding: 0px 5px;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.2s;
  opacity: 0;
}
#autoridades_y_servicios .servicios .picture_text h3 {
  width: 90%;
  text-align: center;
}
#autoridades_y_servicios .servicios .picture_text button {
  background: none;
  border: none;
  border-radius: 10px;
  padding: 5px;
  background-color: #68A7AD;
}
#autoridades_y_servicios .servicios .picture_text button a {
  color: inherit;
  text-decoration: none;
}

/*# sourceMappingURL=pictures.css.map */
